$widthBar: 14rem;

// menu
$backgroundMenu: #FFF;
$backgroundSubMenu: #F9F9F9;
$shadowMenu: #CCC;
$fontColorMenu: #495057;
$menuSelecionado: #e0f3ff;
$menuItemHover: #3f6ad8;
$colorBorderPhoto: #CCC;

// tabelas
$backgroundCabecalhoTabela: #37474F;
$fontColorCabecalhoTabela: #FFF;


// formularios
$fontColorCabecalhoCadastro: #343a40;
